In [1]:
#import packages
import pandas as pd
import numpy as np

In [2]:
# Reading Laliga.csv file and use skiprows=1 or header=1 to set column headers with first row
# And storing it in a ddataframe called laliga
laliga = pd.read_csv("Laliga.csv",skiprows=1)
# Using header = 1
# laliga = pd.read_csv("Laliga.csv",header=1)
laliga.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1

# 1. Replacing '-' with 0

In [3]:
# Replacing - with zero
laliga = laliga.replace('-',0)
laliga.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1

# 2. All the teams which have started playing between 1930-1980

In [4]:
# Split the column Debut and create new column to store splited data into new columns i.e DebutSplitOfZero and DebutSplitOfOne
laliga['DebutSplitOfZero'], laliga['DebutSplitOfOne'] = laliga['Debut'].str.split('-',1).str
# Apply the condition between 1930 and 1980 on DebutSplitOfZero and Printing the Team Names which are satisfying the condition
laliga[(laliga['DebutSplitOfZero']>='1930') & (laliga['DebutSplitOfZero']<='1980')]['Team']

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

# 3. List of teams which came Top 5 in terms of points

In [5]:
# Convert Laliga dataframe Points column data into int
laliga['Points'] = pd.to_numeric(laliga['Points'])
# sort the dataframe by points in decending order if its not sorted, then apply loc to retrieve first 5 rows of 'Team' column
laliga.sort_values(by='Points',ascending=False).loc[:4,'Team']

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

#  4. All the teams with their Goal Differences

In [6]:
# Function goal_diff_count which takes 2 parameters one is dataframe another one is requirement as req
# which is set to default req=GoalDiff this will return 'Team' name and 'goalDiffCount', 
# if req="MaxMin" then returns team name of maximum and minimum of goalDiffCount
# if anything else other than "GoalDiff" or "MaxMin" is passed then it'll print Invalid Request
def goal_diff_count(goal_diff,req="GoalDiff"):
    # Converting GoalsFor and GoalsAgainst to numeric datatype
    goal_diff['GoalsFor'] = pd.to_numeric(goal_diff['GoalsFor'])
    goal_diff['GoalsAgainst'] = pd.to_numeric(goal_diff['GoalsAgainst'])
    # Calculating GoalDiffCount, where GoalDiffCount = GoalsFor - GoalsAgainst
    goal_diff['GoalDiffCount'] = goal_diff['GoalsFor']-goal_diff['GoalsAgainst']
    if(req=="GoalDiff"):
        return goal_diff.loc[:,['Team','GoalDiffCount']]
    elif(req=="MaxMin"):
        max = goal_diff[goal_diff['GoalDiffCount'] == goal_diff['GoalDiffCount'].max()]['Team']
        min = goal_diff[goal_diff['GoalDiffCount'] == goal_diff['GoalDiffCount'].min()]['Team']
        return max, min
    else:
        print("Invalid Request!!!!!")

In [7]:
#Calling the function by passing laliga Data frame only and requirement is default i.e "GoalDiff" which returns Team with Goal Difference
goal_diff_count(laliga)

                   Team  GoalDiffCount
0           Real Madrid           2807
1             Barcelona           2786
2       Atletico Madrid           1225
3              Valencia            929
4       Athletic Bilbao            931
5               Sevilla            307
6              Espanyol           -280
7         Real Sociedad             -2
8              Zaragoza           -164
9            Real Betis           -333
10  Deportivo La Coruna           -136
11           Celta Vigo           -346
12           Valladolid           -413
13     Racing Santander           -525
14       Sporting Gijon           -399
15              Osasuna           -334
16               Malaga           -342
17               Oviedo           -309
18             Mallorca           -189
19           Las Palmas           -399
20           Villarreal            103
21              Granada           -338
22       Rayo Vallecano           -328
23                Elche           -272
24               Getafe           -113
25             Hercules           -334
26             Tenerife           -125
27               Murcia           -385
28               Alaves           -165
29              Levante           -202
..                  ...            ...
31             Sabadell           -228
32                Cadiz           -269
33             Logrones           -198
34            Castellon           -169
35             Albacete            -90
36              Almeria           -122
37              Cordoba           -145
38           Compostela            -42
39           Recreativo            -94
40            Burgos CF            -94
41           Pontevedra            -56
42             Numancia            -98
43                Eibar            -28
44               Arenas            -81
45          Real Burgos            -38
46            Gimnastic           -114
47          Extremadura            -55
48               Merida            -45
49             Alcoyano           -107
50                 Jaen            -62
51           Real Union            -31
52           AD Almeria            -45
53               Europa            -34
54               Lleida           -112
55              Leganes            -19
56                Xerez            -28
57               Condal            -20
58      Atletico Tetuan            -34
59     Cultural Leonesa            -31
60               Girona              0

[61 rows x 2 columns]

In [8]:
#Calling the function by passing laliga Data frame and also GoalDiff which returns Team with Goal Difference
goal_diff_count(laliga,"GoalDiff")

                   Team  GoalDiffCount
0           Real Madrid           2807
1             Barcelona           2786
2       Atletico Madrid           1225
3              Valencia            929
4       Athletic Bilbao            931
5               Sevilla            307
6              Espanyol           -280
7         Real Sociedad             -2
8              Zaragoza           -164
9            Real Betis           -333
10  Deportivo La Coruna           -136
11           Celta Vigo           -346
12           Valladolid           -413
13     Racing Santander           -525
14       Sporting Gijon           -399
15              Osasuna           -334
16               Malaga           -342
17               Oviedo           -309
18             Mallorca           -189
19           Las Palmas           -399
20           Villarreal            103
21              Granada           -338
22       Rayo Vallecano           -328
23                Elche           -272
24               Getafe           -113
25             Hercules           -334
26             Tenerife           -125
27               Murcia           -385
28               Alaves           -165
29              Levante           -202
..                  ...            ...
31             Sabadell           -228
32                Cadiz           -269
33             Logrones           -198
34            Castellon           -169
35             Albacete            -90
36              Almeria           -122
37              Cordoba           -145
38           Compostela            -42
39           Recreativo            -94
40            Burgos CF            -94
41           Pontevedra            -56
42             Numancia            -98
43                Eibar            -28
44               Arenas            -81
45          Real Burgos            -38
46            Gimnastic           -114
47          Extremadura            -55
48               Merida            -45
49             Alcoyano           -107
50                 Jaen            -62
51           Real Union            -31
52           AD Almeria            -45
53               Europa            -34
54               Lleida           -112
55              Leganes            -19
56                Xerez            -28
57               Condal            -20
58      Atletico Tetuan            -34
59     Cultural Leonesa            -31
60               Girona              0

[61 rows x 2 columns]

In [9]:
#Calling the function by passing laliga Data frame and also MaxMin which will return max and min differences
max_diff,min_diff = goal_diff_count(laliga,"MaxMin")
print(f"Max \n\t {max_diff}\nMin \n\t {min_diff}")

Max
	 0    Real Madrid
Name: Team, dtype: object
Min
	 13    Racing Santander
Name: Team, dtype: object

# 5. Winning Percent

In [10]:
# Converting 'GamesWon' and 'GamesPlayed' to numeric data type
laliga['GamesWon'] = pd.to_numeric(laliga['GamesWon'])
laliga['GamesPlayed'] = pd.to_numeric(laliga['GamesPlayed'])
# Calculating Percentage of wining,where PercantageOfWinning = (GamesWon/GamesPlayed)*100
# And restricting the decimal places to 3 
laliga['PercentageOfWinning(in %)'] = round((laliga['GamesWon']/laliga['GamesPlayed']) * 100,3)
# For 0/0 we get Nan so replacing that Nan with 0 using fillna method
laliga.fillna(0)
# To print Top 5 Teams first we need to sort the data frame by PercentageOfWinning in decending order
# Using loc method printing first 5 rows of 'Team' and 'PercentageOfWinning' Column
laliga.sort_values(by='PercentageOfWinning(in %)',ascending=False).loc[:4,['Team','PercentageOfWinning(in %)']]

              Team  PercentageOfWinning(in %)
0      Real Madrid                     59.631
1        Barcelona                     57.241
2  Atletico Madrid                     47.475
3         Valencia                     44.557
4  Athletic Bilbao                     43.773

# 6. Sum of Points grouped by BestPosition.

In [11]:
# Convert Bestposition to numeric data type
laliga['BestPosition'] = pd.to_numeric(laliga['BestPosition'])
# apply groupby method on BestPosition to laliga data frame and assigning it to bestPosition_group
bestPosition_group = laliga.groupby('BestPosition')
# apply sum method on 'Points' of 'bestPosition_group'
bestPosition_group['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64